.animation-number__wrapper {
    display: inline-block;
    border-radius: 50%;
    background-color: #023e02;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

.animation-number__wrapper--highlighted {
    background-color: #10c437;
}

.animation-number__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animation-number__value {
    vertical-align: middle;
}